{{! app/templates/application.hbs }}
<h1>{{#link-to "index"}}Ember app{{/link-to}}</h1>
<ul>
  <li>{{#link-to "articles"}}Articles{{/link-to}}</li>
  <li>{{#link-to "pages"}}Pages{{/link-to}}</li>
</ul>
{{outlet}}
